* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	background: -webkit-linear-gradient(bottom, #2193b0, #6dd5ed);
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
}

h2 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 11pt;
}

#card {
	align-items: center;
	background: #fbfbfb;
	border-radius: 8px;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
	height: 450px;
	margin: 5rem auto 5rem auto;
	width: 329px;
  }

#card-content {
	padding: 12px 44px;
}

#card-title {
	font-family: "Raleway Thin", sans-serif;
	letter-spacing: 4px;
	padding-bottom: 15px;
	padding-top: 13px;
	text-align: center;
}

#submit-btn {
	background: -webkit-linear-gradient(right, #6dd5ed, #2193b0);
	border: none;
	border-radius: 21px;
	box-shadow: 0px 1px 8px #27b1d3;
	cursor: pointer;
	color: #FFF;
	font-family: "Raleway SemiBold", sans-serif;
	height: 42.3px;
	margin: 0 auto;
	margin-top: 30px;
	transition: 0.25s;
	width: 153px;
}

#submit-btn:hover {
	box-shadow: 0px 1px 18px #27b1d3;
}

.form {
	align-items: left;
	display: flex;
	flex-direction: column;
}

.form-border {
	background: -webkit-linear-gradient(right, #6dd5ed, #0381a0);
	height: 1px;
	width: 100%;
}

.form-content {
	background: #fbfbfb;
	border: none;
	outline: none;
	padding-top: 14px;
}